// main-nav
.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  &__logo {
    width: 70px;
    height: 70px;
  }

  &__items {
    display: flex;

    li {
      padding: 1rem 1.5rem;

      a {
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        transition: border-color 0.5s;

        &:hover {
          border-color: $medium;
        }

        &.active {
          border-color: $primary;
        }
      }
    }
  }
}

#header {
  &__home {
    background: $bg-image no-repeat center right/cover;
    height: 100vh;
    color: #fff;

    .header-content {
      text-align: center;
      padding-top: 30%;
    }

    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }

    .typewrite {
      display: block;
    }
  }
}
